:root{
    --pale-blue:hsl(225, 100%, 94%);
    --bright-blue:hsl(245, 75%, 52%);
    --very-pale-blue:hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 

.container{
    background-color: white;
    border-radius: 1rem;
    display: grid;

} 
body{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    padding: 4rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-img{
    max-width: 24.5rem;
    border-radius: 1rem 1rem 0 0;
}

h2{
    margin-top: 1.9rem;
}

.order-card-new{
    box-shadow:0 1.25rem 1.25rem -0.25rem var(--pale-blue);
    border-radius: 1rem;
    font-weight: 500;
    max-width: 24.5rem;
    /* margin-top: 2rem; */
    justify-self: center;
    text-align: center;
    /* background-color:white ; */
    /* width:31.5%; */
}

.order-card-new p{
    width: 20rem;
    margin: auto;
    color: var(--desaturated-blue);
    line-height: 1.5;
    font-size: 0.9rem;
}

.order-card-new h2{
    color:  var(--dark-blue);
    font-weight: 900;
    font-size: 1.5rem;
}
.plans{
    height: 3.125rem;
    margin:1.9rem 0 1.9rem 1.7rem;
    background-color: var(--very-pale-blue);
    padding:1.25rem 1.2rem 1.25rem 0.95rem ;
    border-radius: 1rem;
}

.plans td .plan-title{
    color: var(--dark-blue);
    font-weight: 900;
    width:6.2rem ;

}

.plans td .plan-cost{
    width: 6.2rem;
}

.plans td img{
    height: 2.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.plans td p{
    font-size: 0.9rem;
    
}
.plans td a{
    padding-left: 6rem;
    color:var(--bright-blue);
    font-weight: 700;
    font-size:0.85rem;
}

.plans td a:hover{
    color: var(--desaturated-blue);
    text-decoration: none;
    cursor: pointer;
}

.btn{
    width: 21rem;
    border-radius: 0.5rem;
    padding:0.6rem 1.8rem;
    color: var(--very-pale-blue);
    background-color: var(--bright-blue);
    border: none;
    box-shadow:0 1.25rem 1.25rem -0.25rem  var(--pale-blue);
    font-weight: 700;
    font-size: 0.75rem;
    margin-bottom: 1.2rem;
}

.btn:hover{
    width: 21rem;
    border-radius: 0.5rem;
    padding:0.6rem 1.8rem;
    color: var(--very-pale-blue);
    background-color: var(--desaturated-blue);
    border: none;
    box-shadow:0 1.25rem 1.25rem -0.25rem  var(--pale-blue);
    font-weight: 700;
    font-size: 0.75rem;
    cursor: pointer;
}

.cancel-order{
    color:var(--desaturated-blue);
    font-size: small;
    font-weight: 900;
    text-decoration: none;
   
}

.cancel-order:hover{
    color:var(--dark-blue);
    font-size: small;
    font-weight: 900;
    text-decoration: none; 
    
}

.bottom-container{
    padding-bottom: 2.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 1rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .attribution a:hover {
    color: var(--Desaturatedblue);
  }

@media (max-width:768px) {
  body{
      background-image: url("images/pattern-background-mobile.svg"); 
  }  

  .top-img{
      width: 19rem;
  }
  .order-card-new{
    width: 19rem;
 
  }

  .order-card-new p{
    width: 15rem;
    line-height: 1.5;
    font-size: 0.9rem;
}

.order-card-new h2{
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.plans{
    height: 3rem;
    margin:1.9rem 0 1.9rem 1.3rem;
    padding:1rem 1rem 1rem 0.95rem ;
}

.plans td a{
    padding-left: 1.5rem;
    
}

.btn,.btn:hover{
    width: 16rem;
    padding:1.1rem 1.8rem;
    font-size: 0.9rem;
}

.cancel-order,.cancel-order:hover{
    font-size: medium;
}
}